body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner,.second-section, .third-section  {
    position: relative;
    text-align: center;
  
}


.content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 80%;
}

.banner img, .second-section img{
    max-width: 100%;
    height: auto;
    
}

.banner img {
    filter: brightness(80%) contrast(80%); /* Adjust the values as needed */
}


/* Add your preferred styling for the banner background */
.banner {
    height: 300px; /* Set the height of the banner as needed */
}

.content h1 {
    margin-bottom: 10px;
    font-size: 4em; /* Adjust the font size as needed */
}

.content p {
    margin: 0;
    font-size: 2em; /* Adjust the font size as needed */
}

/*second*/
.second-section {
    text-align: center;
    padding-top: 300px;
}

.second-section h1 {
    color: red;
    font-size: 5em;
    font-weight: bolder;
}

.second-section h2{
    color: #ff6666; /* Lighter shade of red */
    font-size: 2.5em;
   font-weight: 500;
}

.second-section h3 {
    color: black;
    font-size: 4em;
    font-weight: bold;

}


.third-section {
    color: #fff;
    padding: 50px; /* Adjust the padding as needed */
   
}

.third-image{
     filter: brightness(80%) contrast(60%); /* Adjust the values as needed */
}

.text-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.text-content h2 {
    font-size: 4.5em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.text-content button {
    font-size: 1.2em;
    background-color: #ff6666; /* Lighter shade of red */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}

.text-content button:hover {
    background-color: red;
}

.third-section img {
    max-width: 100%;
    max-height: 90%; 
    
}

.right-image {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
}



